# Python bytecode
__pycache__/
*.py[cod]

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# Migrations
# Uncomment the next line if you want to ignore migrations
# **/migrations/*.py
# !**/migrations/__init__.py

# SQLite database
*.sqlite3

# Static files (usually collected here)
/static/

# Secret key
*.secret

# macOS
.DS_Store

# Windows
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version